$red: #ff3333;
$green: #339966;
$orange: orange;

table, th, td {
    border: 1px solid black;
}

.wait {
  background: $red;
}

.paid {
  background: $green;
}

.sending {
  background: $orange;
}

.legend {
  text-align: center;

  &__single {
    padding: 8px;
  }

  .paid-legend {
    color: $green;
  }

  .wait-legend {
    color: $red;
  }

  .sending-legend {
    color: $orange
  }
}

.place-name {
  font-size: 30px;
  font-weight: bold;
}

.month {
  width: 240px;
  font-size: 30px;
  display: inline-block;
}

.arrow {
  display: inline-block;
}

tr.highlight {
  border: 4px solid #3366cc;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;

  thead > tr {
    height: 40px;
  }
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  border: 1px solid #ccc;
  text-align: left;
}

#proper-table td, th
{
  text-align:center;
  vertical-align:middle;
}

.beta {
  font-size: 13px;
}

.cell {
  padding: 10px;
}

.user-menu {
  color: gray;
  font: 30px;
  height: 50px;
}

.balance {
  padding-top: 14px;
}
