<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color: #edf0f3;">

    <div class="content" style="border-radius:0px 0px 5px 5px;background-color:#fff;width:350px;margin:0 auto;">
      <div class="header" style="font-weight: 700;color: #fff;font-size: 24px;background-color: #339966;padding: 10px;">
        HajsApp
      </div>
      <div class="body" style="padding: 10px 30px 30px 30px;">
        <h1>
          Witaj <%= @user.pseudonym %>!
        </h1>
        <p>
          Właśnie pojawił się nowy rachunek za:
          <b>
            <%= @bill.concern %>
          </b>
        </p>
        <p>
          Kwota do zapłaty dla Ciebie wynosi:
          <b>
            <%= @bill.single_payment %>zł
          </b>
        </p>
        <p>Życze miłego dnia!</p>

        <div class="link" style="margin-top: 40px;text-align: center;">
          <a href="http://hajs.herokuapp.com/" style="color: #fff;border-radius: 5px;text-align: center;background-color: #339966;padding: 12px;text-decoration: none">
            Przejdź do apki
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
