<h1 class="text-center"> Settings </h1>
<br>
<div class="col-xs-10 col-xs-offset-1">
  {{#em-form model=model class="form-horizontal" formLayout='horizontal'}}
      {{!-- {{em-input property="firstName" label="first name"}}
      {{em-input property="lastName" label="last name"}} --}}
      {{em-input property="pseudonym" label="pseudonym"}}
      {{em-input property="email" label="email"}}

  {{/em-form}}
</div>
