{{#if errorMessage}}
  <div class="alert alert-danger">
    Error: {{errorMessage}}
  </div>
{{/if}}

<form {{action "authenticate" on="submit"}}>
  <div class="form-group">
    <label for="email">Login</label>
    {{input value=email placeholder="Enter Email" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    {{input value=password type="password" placeholder="Enter Password" class="form-control"}}
  </div>

  <button type="submit" class="center-block btn btn-default">Login</button>
</form>
